/*Paragraph with the class = text starts here*/

.text-About{

    margin-top: 100px;
    margin-left: 40px;
    text-align: start;
    font-size: 25px;
}

/*Ends here*/

/*The color when switched to about*/
.About{
    color: rgb(235, 20, 20);
}

/*Ends here*/