@import 'config';

body{
    background-image: url('./img/laptop.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-color;
}

a{
    text-decoration: none;
   
}



