/*The color when switched to Contact page*/
.contact{
    color: rgb(235, 20, 20);
}

/*Ends here*/

.links{
        
    
    
    img{
        width: 40px;
        height: 40px;
        margin-left: 60px;
        padding: 25px;
       
    }

    h3{
        margin-left: 60px;
        float: right;
        width: 80%;
        margin-top: 35px;
        
    }
    
}
