@import 'config';

/*Universal codes starts here*/
body{
    background-image: url('/img/laptop.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-color;
    font-family: $font;
}

a{
    text-decoration: none;
    color: $primary-color;
}

/*Ends here*/


/*heading starts here it includes logo and navbar*/
.heading{
    display: flex;
    align-content: center;
    justify-content: center;

    h1{
        width: 50%;
        margin-left: 40px;
        padding: 10px;
    }

    nav{
        width: 50%;
        padding: 10px;

        ul{
            display: flex;
            float: left;
            
            li{
                padding: 25px;
                list-style: none;
                font-size: 16px;
                
            }

            .search{
                width: 100%;
                height: 12px;
                margin-top: 25px;
                border-radius: 25px;
            }

            img{
                width: 20px;
                height: 20px;
                margin-top: 25px;
                padding-left: 10px;
            }
        }
    }
}

/*Ends here*/

/*Paragraph with the class = text starts here*/

.text{

    margin-top: 150px;
    margin-left: 40px;
    text-align: start;
    font-size: 25px;
}

/*Ends here*/

/*Home start learning button starts here*/

.btn{
    margin-left: 40px;
    margin-top: 45px;
    
    .but{

        padding: 5px;
        background-color: $primary-background;
        border-color: rgb(223, 28, 135) ;


       
        a{
            font-size: 18px;
            color: $primary-color;
            font-weight: bolder;
            font-family: sans-serif;
           
           
        }


        // a:hover{
        //     font-size: 20px;
        // }
      
    }

    .but:hover{
        border-color: rgb(233, 93, 170) ;
        border-radius: 20px;
        transition-delay: 1500ms;
        transition: ease-in-out;
        transition-duration: 1000ms;
    }
}

@import 'About';
@import 'Contact';
@import 'Learn';

